<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <!-- <link rel="stylesheet" href="/dist/style.css"> -->
</head>

<body>
  <div class="flex flex-col p-10 *:m-auto">
    <h1 class="flex text-3xl font-bold underline">Hello world!' ' <p class=" text-red-500">
      </p>
    </h1>
    <h1>welcome to backend ibovs </h1>
  </div>
  <div class="flex  gap-2 items-center justify-center">
    
    <ul class="flex flex-col gap-3 *:p-1 text-sm">
      <li class=" size-10 cursor-pointer" data-color="#f000">red</li>
      <li class=" size-10 cursor-pointer" data-color="#0f00">green</li>
      <li class=" size-10 cursor-pointer" data-color="#00f0">blue</li>
    </ul>
    <div class="size-36 bg-red-500"></div>
  </div>
  <div class="flex flex-col gap-2">

    <form action="" class="flex m-auto flex-col gap-2 bg-black/20">
      <input type="text" class="name">
    </form>
    <button type="submit">submit</button>
  </div>



  <script src="/index.js"></script>
  <script src="/visibilitychange.js"></script>
</body>

</html>